body,html{
    height:100%;
}
 body{
     margin: o;
     padding: o;
     background: #2f3542;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     overflow: hidden;
 }

.form-box{
    width: 300px;
    padding: 40px;
    background :#191919;
    text-align: center;
}

.form-title{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.form-box input[type="text"],
.form-box input[type="password"],
.form-box button[type="submit"] {
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid #3742fa;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition:0.25s;
}


.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus {
    width: 270px;
    border-color: #fff;
}


.form-box button[type="submit"]{
    border: 0;
    background: #5352ed;
    cursor: pointer;
    border: 2px solid #3742fa;
}

.oform-box button[type="submit"]:hover{
    background: none;
}

.login{
    display: flex;
    flex-direction: column;
    
}

.header{
    font-size: 25px;
    margin-bottom: 35px;
}

.header h1{
    color: #525250;
}

.main{
    display: flex;
    justify-content: center;
}